*{
    margin: 0;
    padding: 0%;
   font-family: poppins, sans-serif;
    box-sizing: border-box;
}
body{
     background: #f0f2f5;
     color: rgb(21, 89, 149);
}
a{
    text-decoration: none;
    color: #5f5f5f;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 8%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);   
}
.logo img{
    width: 30px;
   margin-right: 5px;
    padding-right: 05px;
    
}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}
.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px;
    padding-right: 5px;
    position: relative;
}
.navbar-center ul li a::after{
    content:"" ;
    width: 0;
    height: 2px;
    background: #045be6;
    position: absolute;
    bottom: -14px;
    transition: width 0.4s;
}
.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after{
    width: 100px;
}
.nav-profile-img{
    width: 50px;
    height: 60px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 7px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50px;
    background: green;
    position: absolute;
    right: 0px;
    top: 0px;

}
.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.navbar-left{
   display: flex; 
   align-items: center;
}
.search-box img{
    width: 15px;

}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}
/* -------navbar-end---- */
.container{
    padding: 20px 6% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-sidebar{
    flex-basis: 25%;
    align-self:flex-start;
}
.sidebar-profile-box{
    background: #fff;
}
.sidebar-profile-info{
    padding: 0 25px;
}
.sidebar-profile-info img{
    width: 50px;
    height: 60px;
    border-radius: 50%;
    background: white;
    padding: 4px;
    margin-top: -46px;
}
.sidebar-profile-info h1{
    font-size: 28px; 
    font-weight: 600;
    color: #222;
}
.sidebar-profile-info h3{
    font-size: 20px;
    font-weight: 500;
    color: #777;
}
.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}
.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px;
    font-size: 15px;
}
.sidebar-profile-info ul span{
    float: right;
    color: #045be6;
}
.sidebar-profile-link{
    display: flex;
    align-items: center;
    border-top:  1px solid #ccc
}
.sidebar-profile-link a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 12px;
    border-left: 1px solid #ccc;
    
                       
}
.sidebar-profile-link a:first-child{
    border-left: 0;
}
.sidebar-profile-link img{
    width: 20px;
    margin-right: 10px;
}
.sadbar-activity{
    background: #fff;
    padding: 5px 20px;
    margin: 12px 0;
}
.sadbar-activity h3{
        color: #777;
        font-size: 14px;
        font-weight: 500;
        margin: 20px 0 10px;
}
.sadbar-activity a{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}
.sadbar-activity a img{
    width: 26px;
    margin-right: 10px;
}






/* -------right-sidebar---------- */

 .right-sidebar{
    flex-basis: 25%;
    align-self:flex-start;
} 

/* -------main-content---------- */
.main-content{
    flex-basis: 47%;
}
